<body>	
	<section>
		<header>
			<nav>
				<div class="upper_navbar">
					<div class="menu1">
						<ul>
							<li><a href="main.html">Home</a></li>
							<li><a href="#">Book Now</a></li>
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Contact Us</a></li>
							
							<li><a href="#">About Us</a></li>
							<li><a routerLink = "/registration">Register</a></li>
							<li><a routerLink = "/login">Login</a></li>
							<li><a routerLink = "/admin">Admin</a></li>
							<li><a routerLink = "/user">User</a></li>
							<li><a href="#"></a></li>
						</ul>
					</div>
				</div>
				<div class="lower_navbar">
					<div class="lower_navbar_content">
						<div class="menu-icon">
							<i class="fas fa-bars fa-2x"></i>
						</div>
						<div class="logo">
							<a href="main.html"><img src="../../assets/mylogo-1.png"></a>
						</div>
						<!-- <ul class="dropdown-menu">
							<li><a href="">What to do<i class="fas fa-caret-down"></i></a>
								<ul>
									<li><a href="activities.html">Activities</a></li>
									<li><a href="events-and-festivals.html">Events & Festivals</a></li>
								</ul>
							</li>
							<li><a href="">Where to go<i class="fas fa-caret-down"></i></a>
								<ul>
									<li><a href="attractions.html">Attractive Destinations</a></li>
									<li><a href="locations.html">Cities & Other Locations</a></li>
								</ul>
							</li>
							<li><a href="">Plan your trip<i class="fas fa-caret-down"></i></a>
								<ul>
									<li><a href="accomodations.html">Book an Accomodation</a></li>
									<li><a href="about-sabra.html">About Sabaragamuwa</a></li>
								</ul>
							</li> -->
							<!--li class="dropdown">
								<a href="#">What to do<i class="fas fa-caret-down"></i></a>
								<div class="nav-content">
									<div class="nav-sub">
										<ul>
											<li><a href="activities.html">Activities</a></li>
											<li><a href="events-and-festivals.html">Events & Festivals</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="dropdown">
								<a href="#">Where to go<i class="fas fa-caret-down"></i></a>
								<div class="nav-content">
									<div class="nav-sub">
										<ul>
											<li><a href="#">Attractive Destinations</a></li>
											<li><a href="#">Cities & Other Locations</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="dropdown">
								<a href="#">Plan your trip<i class="fas fa-caret-down"></i></a>
								<div class="nav-content">
									<div class="nav-sub">
										<ul>
											<li><a href="#">About Sabaragamuwa</a></li>
											<li><a href="#">Book an Accomodation</a></li>
										</ul>
									</div>
								</div>
							</li
						</ul>-->
					</div>
				</div>
			</nav>
			<div class="header-title">
				<div id="main-title">welcome to <span>XPLORA TOUR CENTER</span></div>
				<div id="sub-title">Best tour Company. in East Africa.</div>
				<div id="search-bar">
					<input type="text" name="Search" placeholder="Search..." id="search-text-bar">
					<button id="search-button"><i class="fas fa-search fa-2x"></i></button>
				</div>
				<div id="title-button"><a href=""><i class="fas fa-chevron-down fa-2x"></i></a></div>
			</div>
		</header>
	</section>

	<section id="image-set-sec">
		<div class="image-set">
			<div class="image-box">
				<a href=""><img src="../../assets/elephants3.jpg"></a>
				<div class="image-content">
					<div class="text"><a href=""><h1>Mt Kenya</h1></a></div>
					<div class="text"><a href=""><h1>Price Ksh: 3000</h1></a></div>
					<div class="text"><a href=""><h1 style="background-color: chocolate;">Book Now</h1></a></div>
					
				</div>
			</div>
			<div class="image-box">
				<a href=""><img src="../../assets/nonperiyalfalls1.jpg"></a>
				<div class="image-content">
					<div class="text"><a href=""><h1>Amboseli</h1></a></div>
					<div class="text"><a href=""><h1>Price Ksh: 3800</h1></a></div>
					<div class="text"><a href=""><h1 style="background-color: chocolate;">Book Now</h1></a></div>
				</div>
			</div>
			<div class="image-box">
				<a href=""><img src="../../assets/imageselephants3.jpg"></a>
				<div class="image-content">
					<div class="text"><a href=""><h1>Tsavo</h1></a></div>
					<div class="text"><a href=""><h1>Price Ksh: 4000</h1></a></div>
					<div class="text"><a href=""><h1 style="background-color: chocolate;">Book Now</h1></a></div>
				</div>
			</div>
		
			<div class="image-box">
				<a href=""><img src="../../assets/imagesmeditate1.jpg.jpg"></a>
				<div class="image-content">
					<div class="text"><a href=""><h1>Kilimanjaro</h1></a></div>
					<div class="text"><a href=""><h1>Price Ksh: 10000</h1></a></div>
					<div class="text"><a href=""><h1 style="background-color: chocolate;">Book Now</h1></a></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="top-attractions">
			<div class="top-attractions-back">
				<div class="top-attractions-content">
					<div class="attractions-topic">
						<h1>Top Attractions</h1>
					</div>
					<div class="vertical-divider1"></div>
					<div class="sinharaja">
						<div class="sinharaja-content">
							<div class="sinharaja-para">
								
									<h3>Abadare Rain Forest Reserve</h3>
								
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
								</p>
								<p>
									<a href="">Read more<i class="fas fa-angle-double-right"></i></a>
								</p>
							</div>
							<div class="sinharaja-image">
								<img src="../../assets/image12.jpg">
							</div>
						</div>
					</div>
					<div class="sri-padaya">
						<div class="sri-padaya-content">
							<div class="sri-padaya-image">
								<img src="../../assets/adam-4.jpg">
							</div>
							<div class="sri-padaya-para">
								
									<h3>Mt Kenya</h3>
								
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
								</p>
								<p>
									<a href="">Read more<i class="fas fa-angle-double-right"></i></a>
								</p>
							</div>
						</div>
					</div>
					<div class="vertical-divider2"></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="access-section">
			<div class="tourism-news-carousal-div">
				<div id="slider-title">
					<h1>Upcoming <span>Events</span></h1>
				</div>
				<div id="slider">
					<figure>
						<img src="../../assets/image3.jpg">
						<img src="../../assets/pic4.jpg">
						<img src="../../assets/pic2.jpg">
						<img src="../../assets/pic3.jpg">
					</figure>
				</div>
			</div>
			<div class="book-accommodation-div">
				<div id="accommodation-title">
					<h1>Book an <span>Accommodation</span></h1>
				</div>
				<div id="accommodation-content">
					<button class="collapse" id="button1">Hotels</button>
					<div class="collapse-content" id="content1">
						<p>
							Book a star class Hotel
						</p>
					</div>
					<button class="collapse" id="button2">Villas</button>
					<div class="collapse-content" id="content2">
						<p>
							Book a best rated Villa
						</p>
					</div>
					<button class="collapse" id="button3">Bungalows</button>
					<div class="collapse-content" id="content3">
						<p>
							Book a super luxurious Bungalow
						</p>
					</div>
					<button class="collapse" id="button4">Guest Houses</button>
					<div class="collapse-content" id="content4">
						<p>
							Book a well maintained Guest House
						</p>
					</div>
					<button class="collapse" id="button5">Rented Apartments</button>
					<div class="collapse-content" id="content5">
						<p>
							Book a cheap and clean Rented Apartment
						</p>
					</div>
					<button class="collapse" id="button6">Rented Houses</button>
					<div class="collapse-content" id="content6">
						<p>
							Book a single & family house
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="footer">
			<div class="footer-content">
				<div class="footer-refs-content-1">
					<h5>Tourism <b>Agencies</b></h5>
	                <ul>
	                	<li><a href="">XPLORA Tourism Promotion Bureau</a></li>
	                	<li><a href="">XPLORA Tourism Development Authority</a></li>
	                	<li><a href="">XPLORA Convention Bureau</a></li>
	                	<li><a href="">SLITHM (XPLORA Institute of Tourism & Hotel Management)</a></li>
	                	<li><a href="">Ministry of Tourism Development & Christian Religious Affairs</a></li>
	            	</ul>
				</div>
				<div class="footer-refs-content-2">
					<h5>Our <b>Partners</b></h5>
		            <ul>
		                <li><a href="">XPLORA Airport & Aviation Services</a></li>
		                <li><a href="">Department of Immigration & Emigration</a></li>
		                <li><a href="">Belihuloya Hotel Corporation</a></li>
		            </ul>
				</div>
				<div class="footer-refs-content-3">
					<h5>About the <b>Site</b></h5>
		            <ul>
		                <li><a href="">Terms & Conditions</a></li>
		                <li><a href="">Privacy Policy</a></li>
		                <li><a href="">Site Map</a></li>
		                <li><a ><img src="../../assets/mylogo-1.png" style="width: 150px;"></a></li>
		            </ul>
				</div>
			</div>
			<div class="lower-footer">
				<div class="lower-footer-content">
					<div id="footer-align-left">
		
					</div>
					<div id="footer-align-right">
						<a href=""><i class="fab fa-facebook-square fa-3x"></i></a>
						<a href=""><i class="fab fa-twitter-square fa-3x"></i></a>
						<a href=""><i class="fab fa-google-plus-square fa-3x"></i></a>
						<a href=""><i class="fab fa-youtube-square fa-3x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="function.js"></script>

</body>