<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>Welcome to Xplora, <%=CustomerName%></th>
        </tr>
        <tr>
            <td>
                <p>Hi, <%=CustomerName%></p>
                <p><img src="https://img.freepik.com/free-photo/coraciiformes-with-colorful-feathers-holding-fish-with-its-beak-blurred-background_181624-4858.jpg?w=900&t=st=1708363789~exp=1708364389~hmac=4ce4414be2cf16519fe6ba98e6822af7d3e797a77656e97a2b8a2425e3c92f99" alt=""></p>
                <p>
                    Thank you for signing up. <br>
                  We appreciate your decision to be part of us Xplora tour. <br>

                    Thank you.
                </p>
            </td>
        </tr>
    </table>  
</body>
</html>