<section>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-refs-content-1">
                <h5>Tourism <b>Agencies</b></h5>
                <ul>
                    <li><a href="">XPLORA Tourism Promotion Bureau</a></li>
                    <li><a href="">XPLORA Tourism Development Authority</a></li>
                    <li><a href="">XPLORA Convention Bureau</a></li>
                    <li><a href="">SLITHM (XPLORA Institute of Tourism & Hotel Management)</a></li>
                    <li><a href="">Ministry of Tourism Development & Christian Religious Affairs</a></li>
                </ul>
            </div>
            <div class="footer-refs-content-2">
                <h5>Our <b>Partners</b></h5>
                <ul>
                    <li><a href="">XPLORA Airport & Aviation Services</a></li>
                    <li><a href="">Department of Immigration & Emigration</a></li>
                    <li><a href="">Belihuloya Hotel Corporation</a></li>
                </ul>
            </div>
            <div class="footer-refs-content-3">
                <h5>About the <b>Site</b></h5>
                <ul>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Site Map</a></li>
                    <li><a href="http://www.srilanka.travel"><img src="images/logo1.png" style="width: 150px;"></a></li>
                </ul>
            </div>
        </div>
        <div class="lower-footer">
            <div class="lower-footer-content">
                <div id="footer-align-left">
    
                </div>
                <div id="footer-align-right">
                    <a href=""><i class="fab fa-facebook-square fa-3x"></i></a>
                    <a href=""><i class="fab fa-twitter-square fa-3x"></i></a>
                    <a href=""><i class="fab fa-google-plus-square fa-3x"></i></a>
                    <a href=""><i class="fab fa-youtube-square fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
